/* .body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 300px;
  background-color: theme("colors.secondary");
  border-radius: 15px;
  overflow: hidden;
  margin: auto auto;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

form .head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .head span {
  font-size: 1.6rem;
  font-weight: bolder;
  color: black;
}

form .head p {
  font-size: 1.1rem;
  color: #7c6666;
}

form .inputs {
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  margin: 1rem 0.5rem;
  border-radius: 8px;
  border-bottom: none;
  outline: 0;
}

form .inputs input {
  border: none;
  outline: none;
  padding: 8px 15px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.299);
  font-weight: 200;
}

.form-footer {
  background-color: theme("colors.tertiary");
  padding: 16px;
  font-size: 1rem;
  text-align: center;
}

.form-footer a {
  font-weight: bolder;
  color: #0066ff;
  transition: all 3s ease-in-out;
}

.form-footer a:hover {
  color: #005ce6;
} */

/* section {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
} */

/* Styles for the image in the center */
section .middle-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px; /* Desired image width */
  height: 1000px; /* Desired image height */
  background-image: url("/background.png"); /* Replace with the URL of your image */
  background-size: cover;
  border-radius: 50%; /* To make the image circular, adjust according to your preference */
  border: 2px solid #fff; /* White border around the image */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Shadow around the image */
  z-index: 1; /* Place the image on top of the waves */
}

